// Colors
$color-green-primary: #0ba4a0;
$color-green-secondary: #1ec5bb;
$color-white: #ffffff;
$color-black: #2e384d;
$color-black-opacity: #dadeeb25;
$color-gray: #dadeeb;
$color-gray-secondary: #8798ad;
