@use '../../theme' as theme;

.contenedor-cards-mentees {
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
   
    .card-mentees {
    display: flex;
    justify-content: flex-start;
    width: 320px;
    border: 1.5px solid theme.$color-gray;
    margin: 10px;
    align-items: center;
    border-radius: 8px;
    padding: 10px 10px;
        
        .img-mentee {
            width: 64px;
            height: 64px;
            border-radius:50%;
            margin-left: 15px;
        }
        .p-mentees {
            margin-left: 10px;
            width: 140px;
            & p:nth-child(1) {
                color: theme.$color-black;
                font-weight: 500;
                font-size: 16px;
            }
            & p:nth-child(2) {
                color: theme.$color-gray-secondary;
                font-size: 14px;
                margin-top: 4px;
            }
        }
        .icono-persona {
            position: relative;
            left: 45px;
            bottom: 20px;
        }
    }
}

